# General
*.log
*.pyc
/.settings

# Source
/Source/Download

# Doxygen
/Documentation/DoxygenCreator/doxygen-*.windows.x64.bin.zip
/Documentation/DoxygenCreator/doxygen.exe
/Documentation/DoxygenCreator/libclang.dll
/Documentation/DoxygenCreator/plantuml.jar
/Documentation/DoxygenCreator/Output_Doxygen
/Documentation/DoxygenCreator/YouTubeDownloader.Doxyfile
/Documentation/DoxygenCreator/YouTubeDownloader.Doxyfile.bak

# Executable
/Executable/build
/Executable/bin
/Executable/YouTubeDownloader.spec
/Executable/PyInstaller_warnings.txt

# Documentation
/Documentation/Installation/PackageInfos.xlsx