# General
pip==23.1.2

# Source
clipboard==0.0.4
pytube==15.0.0
bs4==0.0.1
moviepy==1.0.3

# Executable
pyinstaller==5.11.0

# Test
pylint==2.17.4

# Dokumentation
astunparse==1.6.3
doxygen-interface==0.0.1