# General
pip==25.2
requests==2.32.5
openpyxl==3.1.3 # 3.1.4 has diagram bug
colorama==0.4.6
GitPython==3.1.45
pillow==11.3.0

# Source
pytubefix==9.5.1
moviepy==1.0.3 # dont cange dependencies to pillow
clipboard==0.0.4
sv_ttk==2.6.1
darkdetect==0.7.1 # <0.8.0 required by pyqtdarktheme
pyqtdarktheme==2.1.0
customtkinter==5.2.2

# Executable
pyinstaller==6.16.0
beautifulsoup4==4.13.5

# Test
autopep8==2.3.2
mypy==1.18.2
pylint==3.3.8

# Documentation
astunparse==1.6.3
