# General
pip==24.3.1
requests==2.32.3
openpyxl==3.1.3 # 3.1.4 has diagram bug
colorama==0.4.6
GitPython==3.1.44
pillow==11.1.0

# Source
pytubefix==8.12.0
moviepy==1.0.3 # dont cange dependencies to pillow
clipboard==0.0.4
sv_ttk==2.6.0
darkdetect==0.7.1 # <0.8.0 required by pyqtdarktheme
pyqtdarktheme==2.1.0
customtkinter==5.2.2

# Executable
pyinstaller==6.11.1
beautifulsoup4==4.12.3

# Test
autopep8==2.3.2
mypy==1.14.1
pylint==3.3.3

# Documentation
astunparse==1.6.3
